body {
  background: #0f172a;
  font-family: sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 0 20px black;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: #22c55e;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

pre {
  background: black;
  padding: 10px;
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
}
